<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toleey.smbms.dao.bill.BillMapper">

    <resultMap id="billResultMap" type="Bill">
        <id column="id" property="id" />
        <id column="proName" property="proName" />
    </resultMap>
    
    <select id="selectBill" resultMap="billResultMap">
        SELECT
            b.billCode,b.productName,p.proName,b.totalPrice,b.isPayment,b.creationDate
        FROM
            smbms_bill AS b INNER JOIN smbms_provider as p
        ON
             b.providerId = p.id
        WHERE
            b.productName LIKE concat('%',#{productName},'%') AND p.id = #{proId}
    </select>

    <insert id="addABill" parameterType="Bill">
        INSERT INTO
            smbms_bill
            (`id`, `billCode`, `productName`, `productDesc`, `productUnit`, `productCount`, `totalPrice`
            , `isPayment`, `createdBy`, `creationDate`, `modifyBy`, `modifyDate`, `providerId`)
        VALUES
            (#{id}, #{billCode}, #{productName}, #{productDesc},#{productUnit},#{productCount},#{totalPrice}
            ,#{isPayment},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate},#{providerId})
    </insert>

    <update id="updateABill" parameterType="Bill">
        UPDATE
            `smbms`.`smbms_bill`
        SET
            `id` = #{id},
            `billCode` = #{billCode},
            `productName` = #{productName},
            `productDesc` = #{productDesc},
            `productUnit` = #{productUnit},
            `productCount` = #{productCount},
            `totalPrice` = #{totalPrice},
            `isPayment` = #{isPayment},
            `createdBy` = #{createdBy},
            `creationDate` = #{creationDate},
            `modifyBy` = #{modifyBy},
            `modifyDate` = '#{modifyDate},
            `providerId` = #{providerId}
        WHERE
              `id` = #{id}
    </update>

    <delete id="deleteABill" parameterType="Integer">
        DELETE FROM smbms_bill WHERE `id` = #{id}
    </delete>



</mapper>
